layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Development" {
        pane split_direction="vertical" {
            pane size="70%" command="nvim" {
                name "NVIM"
                cwd "/home/dkraklan/projects/go/contman"
            }
            pane split_direction="horizontal" {
                pane { 
                    name "HTTP"
                    cwd "/home/dkraklan/projects/go/contman"
                }
                pane command="sudo"{ 
                    args "docker" "compose" "up" "--build"
                    name "Docker Logs"
                    cwd "/home/dkraklan/projects/go/contman"
                }
            }
        }
    }
    tab name="Terminal" {
        pane split_direction="vertical" {
            pane
            pane
        }
    }
}
